<!-- form for creating an album -->
<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this location from being saved:</h2>
      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :desc %>
  </div>
  <br>
  <div class="field">
    <input id="send" class="button small large-12" type="submit" value="Create Album" />
  </div>
  <div class="field">
    <div id="loader"><%= image_tag '/assets/loader.gif'%></div>
  </div>
  <br>
<% end %>