<!-- show the selected photo -->
<div class="row">
  
  <div class="medium-12 small-12 columns">
    <h1><%= @photo.name %></h1>
    <%= link_to 'Edit Photo  |', edit_photo_path(@photo) %>
    <%= link_to '  Delete Photo  ', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= image_tag @photo.upload_image.url   %>
  </div>
</div>

<div class="row">
  <div class="medium-12 small-12 columns">
    <div id="map"></div>
  </div>
</div>
<!-- displays the photo details -->
<div id="photoDetails">
  <div class="row">
    <div class="medium-12 small-12 columns">
      <p>Name:<%= @photo.name %></p>
      <p>Description:<%= @photo.desc %></p>
      <p>Location:<%= @photo.location %></p>
      <p>Technical Details:<%= @photo.tech %></p>
      <p>Description:<%= @photo.desc %></p>
      <%= link_to 'Edit Photo  |', edit_photo_path(@photo) %>
      <%= link_to '  Delete Photo  ', @photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>


  



        

